<!DOCTYPE html>
<html lang="en" ng-app="anngularApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>trellolo</title>

    <!-- Bootstrap core CSS -->
    <link href="vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/layout.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">

    <!-- Flat UI -->
    <link href="vendors/flatui/css/flat-ui.css" rel="stylesheet">
    <link href="vendors/flatui/img/favicon.ico" rel="shortcut icon">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://underscorejs.org/underscore.js"></script>
    <script src="vendors/jquery-ui/nicescroll/jquery.nicescroll.min.js"></script>
    
    <!-- Angular scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-route.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="vendors/angular/ui-bootstrap-tpls-0.12.0.js"></script>
    <script src="vendors/angular/sortable.js"></script>
    <script src="vendors/angular/ngStorage.js"></script>

    <!-- Application scripts -->
    <script src="services/appService.js" type="text/javascript"></script>
    <script src="controllers/appController.js" type="text/javascript"></script>
    <script src="controllers/modalController.js" type="text/javascript"></script>
    <script src="directives/cardbox.js" type="text/javascript"></script>
    <script src="directives/niceScroll.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
  </head>

  <body>
    
    <nav class="navbar navbar navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">trellolo</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <!-- Place username and logout button here. -->
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <ui-view></ui-view>

  </body>

  <script type="text/ng-template" id="/board.html">
    <div class="container-fluid">

      <div class="row">

        <div class="col-md-4">
          <div class="board">
            <h4>Backlog</h4>
            <p>
              <button ng-click="addStory('backlog', sortedStories['backlog'].length)" type="button" class="btn btn-primary btn-sm">Add Card</button>
              <button ng-click="clearBoard('backlog')" type="button" class="btn btn-default btn-sm">Clear Board</button>
            </p>
            <div ui-sortable="sortableStories[0]" nice-scroll ng-model="sortedStories['backlog']" class="story-container">
              <card-box ng-repeat="story in sortedStories['backlog'] | orderBy: ['rank']" story="story" trash="trashStory"></card-box>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="board">
            <h4>In Progress</h4>
            <p>
              <button ng-click="addStory('in_progress', sortedStories['in_progress'].length)" type="button" class="btn btn-primary btn-sm">Add Card</button>
              <button ng-click="clearBoard('in_progress')" type="button" class="btn btn-default btn-sm">Clear Board</button>
            </p>
            <div ui-sortable="sortableStories[1]" nice-scroll ng-model=" sortedStories['in_progress']" class="story-container">
              <card-box ng-repeat="story in sortedStories['in_progress'] | orderBy: ['rank']" story="story" trash="trashStory"></card-box>
            </div>
          </div>
       </div>

        <div class="col-md-4">
          <div class="board">
            <h4>Done</h4>
            <p>
              <button ng-click="addStory('done', sortedStories['done'].length)" type="button" class="btn btn-primary btn-sm">Add Card</button>
              <button ng-click="clearBoard('done')" type="button" class="btn btn-default btn-sm">Clear Board</button>
            </p>
            <div ui-sortable="sortableStories[2]" nice-scroll ng-model="sortedStories['done']" class="story-container">
              <card-box ng-repeat="story in sortedStories['done'] | orderBy: ['rank']" story="story" trash="trashStory"></card-box>
            </div>
          </div>
        </div>

      </div>
    </div> <!-- /container -->

    <footer class="container-fluid footer" id="trash-container">
      <div nice-scroll class="row">
        <button ng-click="judiciousPurging()" type="button" class="btn btn-danger btn-lg btn-trash">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
        <deleted-card-box ng-repeat="story in sortedStories['deleted']" story="story" remove="removeStory">
        </deleted-card-box>
      </div>
    </footer>
  </script>

  <script type="text/ng-template" id="/stories.html">
    
  </script>

  <script type="text/ng-template" id="/card.html">
    <div ng-mouseenter="show=true" ng-mouseleave="show=false" class="story alert alert-warning {{story.color}}-card">
      
      <button ng-show="show" ng-click="trashStory(story, story.status)" type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>

      <div class="card-title">
        <div ng-hide="titleEdit" class="ng-hide title-text">
          <h6>
            {{ story.title }} &nbsp;&nbsp;
            <span ng-show="show" ng-click="editTitle()" class="glyphicon glyphicon-pencil"></span>
          </h6>
        </div>
        
        <div ng-show="titleEdit" class="title-form">
          <form ng-submit="saveTitle(title)">
            <div class="form-group col-md-8 form-group-sm" ng-class="{'has-error': card.title == '' }">
              <input ng-model="card.title" type="text" class="form-control input-sm">
              <span class="error" ng-show="card.title == ''">
                Title is required.
              </span>
            </div>
            <button ng-click="saveTitle(title)" ng-disabled="card.title == ''" type="submit" class="btn btn-primary btn-xs">Save</button>
            <button ng-click="cancelTitle()" type="button" class="btn btn-default btn-xs">Cancel</button>
          </form>
        </div>
      </div>
     
      <div class="card-content">
        <div ng-hide="contentEdit" class="ng-hide content-text">
          <p>
            {{ story.content }}  &nbsp;&nbsp;
            <span ng-show="show" ng-click="editContent()" class="glyphicon glyphicon-pencil"></span>
          </p>
        </div>
        
        <div ng-show="contentEdit" class="content-form">
          <form ng-submit="saveContent(content)">
            <div class="form-group form-group-sm">
              <textarea ng-model="card.content" class="form-control" rows="3"></textarea>
            </div>
            <button ng-click="saveContent(content)" type="button" class="btn btn-primary btn-xs">Save</button>
            <button ng-click="cancelContent()" type="submit" class="btn btn-default btn-xs">Cancel</button>
          </form>
        </div>
      </div>

      <div ng-show="show" class="card-color">
        <span ng-click="changeColor('red')" class="label label-danger">URGENT</span>
        <span ng-click="changeColor('yellow')" class="label label-warning">LOW PRIO</span>
        <span ng-click="changeColor('green')" class="label label-success">TESTED</span>
        <span ng-click="changeColor('blue')" class="label label-primary">VERIFIED</span>
        <span ng-click="changeColor('white')" class="label label-default">DEFAULT</span>
      </div>
    </div>
  </script>  

  <script type="text/ng-template" id="/deleted_card.html">
    <div class="col-md-2 deleted-card">
      <div ng-mouseenter="show=true" ng-mouseleave="show=false" class="card-tile">
        <p class="pull-left">{{story.title}}</p>
        <span ng-click="removeStory(story)" ng-show="show" class="glyphicon glyphicon-trash pull-right trash-icon"></span>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="/wizard.html">
    <div class="modal-header">
      <h3 class="modal-title">Welcome to Trellolo!!!</h3>
    </div>
    <div class="modal-body">
      <p>What are some cool stuff you can do with it?</p>
      <h6>BOARD</h6>
      <p>A user can <strong>Add a Card</strong> to each board as well as <strong>Clear the Board</strong> of all story cards.</p>
      <p>Clearing the board will place all the cards of the board to the trash bin.</p>
      <hr>
      <h6>CARDS</h6>
      <p>Once a card is added, it will be displayed on the board. The card is considered active if you hover on it. <strong>Edit the Title</strong> by hovering on the title text and clicking on the pencil icon. The same thing goes with the description. </p>
      <p>You can also set the card color by <strong>clicking on the colored labels</strong>.</p>
      <p>Clicking the <strong>x button</strong> will place the card on the trash bin</p>
      <hr>
      <h6>TRASH BIN</h6>
      <p>All deleted cards are found on the trash bin. Remove all deleted cards by <strong>clicking on the big red Trash button</strong>.</p>
      <p>If you want to remove a single deleted card, hover on the card and <strong>click the trash icon</strong>.</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">I get it now!</button>
    </div>
  </script>
</html>
